*.egg
*.egg-info
*.pyc
*$py.class
*~
.coverage
coverage.xml
build/
/lib/
/bower_components/
/node_modules/
.tox/
nosetests.xml
env*/
Data.fs*
*.sublime-project
*.sublime-workspace
.*.sw?
.sw?
.DS_Store

