/** Put here CSS that should apply to management screens. **/

body {
    padding-top: 60px;
}

@media (max-width: 980px) {
    body {
        padding-top: 0;
    }
}

.sidebar-nav {
    padding: 9px 0;
}

a.site-title {
    padding-bottom: 18px;
    font-size: 54px;
    display: block;
    color: #333;
    text-decoration: none;
    line-height: 1;
    letter-spacing: -1px;
}

@media (max-width: 980px) {
    a.site-title {
        font-size: 30px;
    }
}

.breadcrumb {
  padding: 7px 14px;
  margin: 0 0 18px;
  background-color: #fbfbfb;
  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: linear-gradient(to bottom, #ffffff, #f5f5f5);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
}

.breadcrumb li {
  display: inline-block;
  text-shadow: 0 1px 0 #ffffff;
}

.breadcrumb .divider {
  padding: 0 5px;
  color: #999999;
}

.breadcrumb .active a {
  color: #333333;
}
