/** Build from https://github.com/Pylons/sdidev to rebuild this LESS file **/

@import "../../../../../bootstrap/less/variables.less";
@import "../../../../../slickgrid/bootstrap/slickgrid.less";
.slickgrid-wrapper {
    height: 380px;  // for 10 rows x 35px
    width: 100%;
    .slickGrid();
}

// 
// Styling of other elements on the same page with slickgrid
//

.sdi-contents-filter {
    margin-top: 5px;
}

.sdi-contents-actions {
    margin: 0;
}

