

/* styles for multi upload page */

/* global progress bar */
@media (max-width: 767px) { 
    #progress {
        margin-bottom: 0;
    }
}
#progress {
    margin-top: 8px;
}

.deleted .file-in-progress,
.alert.deleted {
    -webkit-animation: disappear 1s;
    -webkit-animation-fill-mode: forwards;
    animation: disappear 1s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes disappear{
    20% {
        -webkit-transform: translateX(-5%);
        transform: translateX(-5%);
    }
    100% {
        -webkit-transform: translateX(200%);
        transform: translateX(200%);
    }
}

@keyframes disappear{
    20% {
        -webkit-transform: translateX(-5%);
        transform: translateX(-5%);
    }
    100% {
        -webkit-transform: translateX(200%);
        transform: translateX(200%);
    }
}

.file-in-progress .left-col {
    overflow: hidden;
    text-overflow: ellipsis;
    display: table;
}

.file-in-progress .file-name {
    vertical-align: middle;
    display: table-cell;
}

.file-in-progress .canvas-wrapper {
    margin-right: 0.5em;
    height: 65px;
}

.file-in-progress .progress {
    margin-bottom: 0;
    margin-top: 24px;
}
